.gallery {
  height: 467px; /* Height of slideshow */
  position: relative;
  overflow: hidden;
}

.image {
  width: 600px; /* Width of slideshow */
}

.gallery li {
  display: none;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.gallery li{display:none; list-style:none;}
.gallery li:first-child {display:block;}

.prev, .next {
 padding: 3px;
 font-size:25px;
 font-weight: 100;
 cursor:pointer;
 } 
 
/* Arrow Container */
.slideButtons {
 width: 200px;
 position: relative;
}

/* Previous Arrow */
.prev {
float: left;
background: #eee;  /* Background colour */
color: #bdbcbc;  /* Arrow colour */
padding: 5px 15px 1px 15px;  /* Size */
font-family: Al Nile;   /* Arrow Font */
}

/* Previous Arrow Hover */
.prev:hover {
background: #e2e1e1;  
color: #fff;  
}

/* Next Arrow */
.next {
float: left;
background: #bdbcbc;  /* Background colour */
color: #eee;   /* Arrow colour */
border-left: 1px solid #fff;   /* Border between arrows*/
padding: 5px 15px 1px 15px;  /* Size */
font-family: Al Nile;  /* Arrow Font */
}


/* Arrow Hover */
.next:hover {
background: #dad9d9;
color: #bdbcbc;
}


/* Picture comment */
span.comment {
 position: absolute;
 width: 93.3%;
 text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.43);  /* Text Shadow */
 background: rgba(0, 0, 0, 0.2);   /* Backround colour and opacity */
 color: #eee;  /* Font colour */
 font-size: 11px;   /* Font size */
 line-height: 1.5em;
 padding: 12px 20px;
 top: 0;
 text-align: justify;
}

span.fullsize {
 position: relative;
 padding: 0px;
 font-size: 11px;
 float: right;
 color: #333;
 margin-top: -3px;
 text-align: justify;
 text-shadow: 1px 1px 0px rgba(250, 250, 250, 0.43);
 color: #6abbf3;
 text-transform: uppercase;
 font-family: Helvetica;
}
span.fullsize a {
    color: #888;
    font-weight: 100;
    text-decoration: none;
    }

#overlay {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background:white url(img/loader2.gif) no-repeat scroll center center;
}

#lightbox {
  position:absolute; 
}
#lightbox img{
    width: auto;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 10px solid #fff;
    -moz-box-shadow: 0px 0px 15px #ccc;
-webkit-box-shadow: 0px 0px 15px #ccc;
box-shadow: 0px 0px 15px #ccc;
  }


